<?xml version="1.0"?>
<FtpMultiDownloader xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Connections>
    <ConnectionInformation>
      <Url>83.144.236.7</Url>
      <Port />
      <Username>DL_ECOWATT</Username>
      <Password>19klmqL</Password>
      <Filepath>Test</Filepath>
    </ConnectionInformation>
  </Connections>
</FtpMultiDownloader>